/* 全局样式 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #333;
}

header {
    background-color: #00796b;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* 资源部分样式 */
.resource-section {
    padding: 40px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.resource-item {
    margin-bottom: 40px;
}

.resource-item h3 {
    font-size: 1.8em;
    color: #00796b;
}

.resource-item p {
    font-size: 1.2em;
    color: #333;
}

.resource-item a {
    color: #00796b;
    font-size: 1.1em;
    text-decoration: none;
}

.resource-item a:hover {
    text-decoration: underline;
}

/* 学习感想部分样式 */
.reflection-section {
    background-color: #ffffff;
    padding: 40px 40px;  /* Adjusted padding to give space on left and right */
    text-align: left;
}

.reflection-item {
    margin-bottom: 30px;
}

.reflection-item p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
}

.reflection-item strong {
    color: #00796b;
}

/* 页脚样式 */
footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}






