/* Basic Body Styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #333;
}

/* Header Styles */
header {
    background-color: #00796b;
    padding: 20px;
}

/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* Resource Section Styling */
.resource-section {
    padding: 80px 0;
    background-color: #f0f0f0;
    text-align: center;
    max-width: 1000px; /* Sets maximum width */
    margin-left: auto; /* Centering the section */
    margin-right: auto; /* Centering the section */
}

/* Resource Item Styling */
.resource-item {
    margin-bottom: 40px;
}

.resource-item h3 {
    font-size: 1.8em;
    color: #00796b;
    margin-bottom: 20px;
}

.resource-item p {
    font-size: 1.1em;
    color: #333;
    margin: 0 20px; /* Adds left and right margin */
    text-align: justify; /* Justifies the text for a cleaner look */
}

/* Embedded Video Styling */
.resource-item iframe {
    margin-top: 20px;
}

/* Reflection Section Styling */
.reflection-section {
    background-color: #ffffff;
    padding: 80px 10px;
    text-align: left;
    max-width: 1000px; /* Sets maximum width */
    margin-left: auto; /* Centering the section */
    margin-right: auto; /* Centering the section */
}

.reflection-item p {
    font-size: 1.2em;
    color: #333;
    margin: 30 60px; /* Adds left and right margin */
    line-height: 1.6;
    text-align: justify; /* Justifies the text for a cleaner look */
    margin-bottom: 30px;
}

/* Footer Styles */
footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

