body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5;
}

header {
    background-color: #7b1fa2;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.tech-hero-section {
    padding: 50px;
    text-align: center;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
