body {
    font-family: Arial, sans-serif;
    background-color: #e5ffe5;
}

header {
    background-color: #2d6a4f;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.welcome-section {
    text-align: center;
    padding: 100px;
    background-color: #74c69d;
}

h1 {
    font-size: 3em;
    color: white;
}

p {
    font-size: 1.5em;
}

.btn {
    padding: 10px 20px;
    background-color: #40916c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

 


